<mat-toolbar color="primary" class="toolbar">
  <a mat-icon-button [routerLink]="['../',  nextPage() ]">
    <mat-icon>arrow_back</mat-icon>
  </a>

  <!-- Centered page input for current page -->
  <input matInput type="number" [(ngModel)]="goToPageNumber" (keyup.enter)="goToPage(goToPageNumber)">

  <!-- Next page button -->
  <a mat-icon-button [routerLink]="['../',  prevPage() ]">
    <mat-icon>arrow_forward</mat-icon>
  </a>
</mat-toolbar>


<div [style.font-family]="'MushafPage' + pageNumber()" class="page">
  @for (line of page(); track $index) {
    <div (click)="getCaretPosition($event, $index)">
      {{line.replaceAll("_", "")}}
    </div>
  }
</div>
<button (click)="audioQuranRecorder.toggleRecording()">
  {{ audioQuranRecorder.isRecording ? 'Stop Recording' : 'Start Recording' }}
</button>

@if(tempNote) {
  <div  class="floating-input" [ngStyle]="floatingInputStyle">
    <label for="note">Add a note for "":</label>
    <input id="note" #notes placeholder="Enter your note" />
    <button (click)="saveNote(notes.value)">Save Note</button>
  </div>
}

@for (data of recitation.notes; track $index) {
  <p>
    {{data.note}} seconds
    <button (click)="showNote(data)">Play from here</button>
  </p>
}

<button mat-icon-button class="fab" [color]="audioQuranRecorder.isRecording ? 'primary' : 'error'" (click)="audioQuranRecorder.toggleRecording()">
  <mat-icon>{{audioQuranRecorder.isRecording ? 'stop' : 'fiber_manual_record' }}</mat-icon>
</button>
<!-- <mat-menu #optionsMenu="matMenu">
  <button mat-menu-item >Option 1</button>
  <button mat-menu-item >Option 2</button>
  <button mat-menu-item >Option 3</button>
</mat-menu> -->
