<nav>
  <a [routerLink]="['../',  nextPage() ]">
    &lt;&lt; {{nextPage()}}
  </a>
  <p>
    <input type="number" [(ngModel)]="goToPageNumber" />
    <button (click)="goToPage(goToPageNumber)">Go</button>
  </p>
  <a [routerLink]="['../',  prevPage() ]">
    &gt;&gt; {{prevPage()}}
  </a>
</nav>


<div [style.font-family]="'MushafPage' + pageNumber()" class="page">
  @for (line of page(); track $index) {
    <div (click)="getCaretPosition($event, $index)">
      {{line.replaceAll("_", "")}}
    </div>
  }
</div>
<button (click)="audioQuranRecorder.toggleRecording()">
  {{ audioQuranRecorder.isRecording ? 'Stop Recording' : 'Start Recording' }}
</button>

@if(tempNote) {
  <div  class="floating-input" [ngStyle]="floatingInputStyle">
    <label for="note">Add a note for "":</label>
    <input id="note" #notes placeholder="Enter your note" />
    <button (click)="saveNote(notes.value)">Save Note</button>
  </div>
}

@for (data of recitation.notes; track $index) {
  <p>
    {{data.note}} seconds
    <button (click)="showNote(data)">Play from here</button>
  </p>
}
