.page {
  font-family: "Kitab Bold";
  max-width: calc(100vh * 0.7);
  height: 100vh; /* Full viewport height */
  box-sizing: border-box; /* Include padding in width/height */
  line-height: calc(100vh / 15); /* Divide the viewport height by 15 lines */
  // font-size: calc((100vh / 15) * 0.53); /* Adjust font size relative to line height */
  text-align: justify; /* Optional: Ensure text alignment */
  margin: auto;
  box-shadow: 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  .ayah-number {
    position: relative;
    font-size: smaller;
    &::after {
      content: " ";
      position: absolute;
      border: 1px solid black;
      border-radius: 50%;
      height: 100%;
      width: 150%;
      left: -25%;
      display: inline-block;
      text-align: center;
    }
  }

  &.fitting {
    color: transparent;

    .ayah-number::after {
      border: 1px solid transparent;
    }
  }
}

.floating-input {
  position: absolute;
  top: 50px;
  left: 20px;
  background: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fab {
  position: fixed;
  bottom: 16px;
  right: 16px;
}
